<div class="event-show">
	<div class="container-fluid">
	<div class="row">
		<div class="col-md-8 col-md-offset-2 col-xs-12">
			<h1><%= @event.name %></h1>	
			<div class="content event_show_header">
				<div class="row">
					<div class="col-md-4">
						<div class="event_show_image">
							<img src="<%= asset_path 'events/' + @event.image %>">
						</div>
					</div>
					<div class="col-md-8">
						<div class="event_show_kind"><%= @event.year %> <%= @event.kind %></div>
						<div class="event_show_daytime">
							<%= @event.event_schedule.day %> 
							<%= @event.event_schedule.start_time.to_s(:time2) %>
							〜
							<%= @event.event_schedule.end_time.to_s(:time2) %>
						</div>
						<% if logged_in? %>
							<% if current_member.events.exists?(id: @event.id) %>
								<%= link_to "参加登録解除", unparticipate_path(@event), method: :delete, class: 'btn btn-primary pull-right' %>
							<% else %>
								<%= link_to "イベントに参加", participate_path(@event), method: :post, class: 'btn btn-primary pull-right' %>
							<% end %>
						<% else %>
							<%= link_to "イベントに参加", participate_path(@event), method: :post, class: 'btn btn-primary pull-right' %>
						<% end %>
					</div>
			</div>

			<% unless @event.event_long_desc.nil? %>
				<div class="content event_show_description">
					<h2>イベント詳細</h2>
					<p><%= @event.event_long_desc.desc %></p>
				</div>
			<% end %>

			<% unless @event.info_now.nil? || @event.info_now.empty? %>
				<div class="content event_show_info_now">
					<h2>お知らせ</h2>
					<ul>
						<% @event.info_now.sort_old.each do |i| %>
							<li><%= i.due.to_s(:date2) %> <%= i.message %></li>
						<% end %>
					</ul>
				</div>
			<% end %>

			<% unless @event.event_textbooks.nil? || @event.event_textbooks.empty? %>
				<div class="content event_show_description">
					<h2>使用する教科書，参考書</h2>
					<ul>
						<% @event.event_textbooks.each do |t| %>
							<li><%= link_to t.title, t.url %></li>
						<% end %>
					</ul>
				</div>
			<% end %>

			<% unless @event.event_datetimes.nil? || @event.event_datetimes.empty? %>
				<div class="content event_show_datetime">
					<h2>日程</h2>
					<ul>
						<% i = 1 %>
						<% @event.event_datetimes.each do |d| %>
							<li><%= "第" + i.to_s + "回" %> <%= d.start_time.to_s(:date2) %> <%= d.title %></li>
							<% i += 1 %>
						<% end %>
					</ul>
				</div>
			<% end %>

			<% unless @event.event_docs.nil? || @event.event_docs.empty? %>
				<div class="content event_show_docs">
					<h2>資料</h2>
					<ul>
						<% @event.event_docs.each do |d| %>
							<li>
								<a href="<%= d.url %>"><%= d.title %></a>
								<% unless d.desc.empty? %>
									<p><%= d.desc %></p>
								<% end %>
							</li>
						<% end %>
					</ul>
				</div>
			<% end %>

			<% unless @event.info_old.nil? || @event.info_old.empty? %>
				<div class="content event_show_info_old">
					<h2>過去のお知らせ</h2>
					<ul>
						<% @event.info_old.sort_new.each do |i| %>
							<li><%= i.message %></li>
						<% end %>
					</ul>
				</div>
			<% end %>
		</div>
	</div>
	</div>
</div>
