<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/3.18.1/build/cssreset/cssreset-min.css">
    <title>UTechWeb</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <nav>
        <a href="/"><img src="<%= asset_path 'common/logo.png' %>" alt="logo"></a>
        <ul>
          <li><%= link_to "u-Techとは", about_path %></li>
          <li><%= link_to "新歓情報", welcome_path %></li>
          <li><%= link_to "イベント", events_path %></li>
          <li><%= link_to "メンバー登録", join_path %></li>
          <li><%= link_to "お問い合わせ", contact_path %></li>
          <% if logged_in? %>
            <li><%= link_to "Log out", logout_path, method: "delete" %></li>
          <% else %>
            <li><%= link_to "Log in", login_path %></li>
          <% end %>
        </ul>
      </nav>
    </header>

    <% flash.each do |message_type, message| %>
      <div class="alert alert-<%= message_type %>"><%= message %></div>
    <% end %>
    <%= yield %>

    <footer>
      <hr>
      <span>Copyright © 2016 u-Tech All Rights Reserved.</span>
    </footer>

  </body>
</html>
